@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Ejercicio Físico</title>
    
</head>
<body class="body1">
    <div class="container">
        <h1 class="h11">Aplicación de Ejercicio Físico</h1>
    </div>


<div>
    <h2 class="display-7">Panel de Resultados</h2>
</div>

<div class="row">

    <div class="col-md-4">

        <div class="row">

            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-search me-1"></i>
                        Métodos de Búsqueda
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                                <label class="control-label">Tipo de Ejercicio:</label>
                                @Html.DropDownList("TipoEjercFisicoID", null, htmlAttributes: new
                                    {
                                        @class =
                                         "form-control"
                                    })
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2">
                                <label class="control-label">Mes:</label>
                                <select class="form-control" id="MesEjercicioBuscar">
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6" selected>Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2">
                                <label class="control-label">Año:</label>
                                <select class="form-control" id="AnioEjercicioBuscar">
                                    <option value="2023">2023</option>
                                    <option value="2024" selected>2024</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Tipos de Ejercicios
                    </div>
                    <div class="card-body" style="height: 48vh;">
                        <canvas id="grafico-circular"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card bg-primary text-white mb-2">
                    <div class="card-body" id="texto-card-total-ejercicios"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card bg-secondary text-white mb-2">
                    <div class="card-body" id="texto-card-sin-ejercicios"></div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Ejercicios Físicos por Día
                    </div>
                    <div class="card-body">
                        <canvas id="grafico-area"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






</body>
</html>

    
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/graficoEjerc.js"></script>

}
