@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Ejercicio Físico</title>
    
</head>
<body class="body1">
    <div class="container">
        <h1 class="h11">Aplicación de Ejercicio Físico</h1>
        <img class="img1" src="https://gaceta.cch.unam.mx/sites/default/files/styles/imagen_articulos_1920x1080/public/2020-09/portada_gaceta_3.jpg?h=d1cb525d&itok=l9D_bu81" alt="gimnasia">
        <p>¡Bienvenido a nuestra aplicación de ejercicio físico!</p>
    </div>
</body>
</html>

    
</div>
