@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Ejercicio Físico</title>
    
</head>
<body class="body1">
    <div class="container">
        <h1 class="h11">Aplicación de Ejercicio Físico</h1>
    </div>
</body>
</html>

    
</div>
