@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <section>
            <div class="card bg-dark text-white shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Crear una nueva cuenta</h2>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Correo Electrónico</label>
                            <input asp-for="Input.Email" class="form-control form-control-lg bg-secondary text-white" autocomplete="username" aria-required="true" placeholder="Correo Electrónico">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input asp-for="Input.Password" class="form-control form-control-lg bg-secondary text-white" autocomplete="new-password" aria-required="true" placeholder="Contraseña">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputConfirmPassword" class="form-label">Confirmar Contraseña</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg bg-secondary text-white" autocomplete="new-password" aria-required="true" placeholder="Confirmar Contraseña">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-warning">Registrarse</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
