

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #c8356d;
}

html {
  position: relative;
  min-height: 100%;
}

.body1 {
  background-image: url('../img/fondo1.png');
  background-size: cover; /* Escala la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
}

.body2{
  background-color: coral;
}

.body3 {
  background-image: url('../img/fondo2.jpg');
  background-size: cover; /* Escala la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
}


.container1 {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.h11 {
  font-size: 3.5em;
  color: crimson;
  margin-bottom: 20px;
}



.custom-table {
  background-color: #6faa09; /* Verde limón */
}

.letra {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: crimson;
}

.letra1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
}